@import '../../scss/_colors.scss';

.password-reset {
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  flex: 1;

  .password-reset__submit_button {
    margin: 50px auto 30px auto;
    font-size: 16px;
    font-weight: bold;
  }

  .password-reset__password_group {
    margin-top: 20px;
  }

  .password-reset__registration_link {
    font-size: 14px;
    color: $grey-color-secondary;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
  }

  .password-reset__password_resset_link {
    font-size: 14px;
    color: $grey-color;
    margin-top: 10px;
  }
}
