$background-color: #fafafa;
$main-color: #c3a94d;
$secondary-color: #bea241;
$grey-color: #d7d7d7;
$grey-color-secondary: #919090;
$icon-color: #292929;

// Text
$text-color: rgb(0, 0, 0);
$main-text-alpha: 0.87;
$main-text-rgba: rgba($text-color, $main-text-alpha);
$secondary-text-alpha: 0.54;
$secondary-text-rgba: rgba($text-color, $secondary-text-alpha);

