@import './_colors.scss';

.table-full-width {
  overflow-x: auto;
  margin: 41.6px 20px;
  padding-bottom: 10px;
  @media (max-width: 768px) {
    display: none;
  }

  .table-full-width__table {
    width: 100%;
    table-layout: fixed;
    padding-right: 3px;
    border-collapse: initial;
  }

  .empty-table-td {
    padding: 20px;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }

  .table-full-width__head_item {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: $secondary-text-rgba;
    padding-bottom: 8.4px;

    button {
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
      font-weight: bold;
      text-align: left;
      padding: 0;
    }

    .table-full-width__head_icon_flex_container {
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
      align-items: center;
    }

    &:first-child {
      font-size: 14px;
      text-align: center;
    }

    &.center {
      text-align: center;
    }

    .table-full-width__head_icon {
      margin-left: 4px;
      color: $secondary-text-rgba;
      width: 10px;
      height: 15px;
    }

    .table-full-width__head_text {
      flex: 0;
      &.table-full-width__head_text_nowrap {
        white-space: nowrap;
      }
    }
  }

  .table-full-width__body_row {
    height: 70px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.1) 5%,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0)
    );
    border-image-slice: 1;

    .table-full-width__body_cell {
      line-height: 1.29;

      &:first-child {
        text-align: center;
        border-left: 1px solid rgba(0, 0, 0, 0.12);
      }

      font-size: 14px;
      color: $secondary-text-rgba;

      &.table-full-width__body_cell_bold {
        font-weight: bold;
        color: $main-text-rgba;
      }

      &.center {
        text-align: center;
      }

      .table-full-width__actions_block {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-around;
        padding-right: 15px;

        .table-full-width__action_icon {
          color: $grey-color-secondary;
          width: 12px;
          height: 15px;
        }

        .table-full-width__actions_block_button {
          border: none;
          outline: none;
          cursor: pointer;
          padding: 0;
          width: 24px;
          height: 24px;
          background: none;
        }
      }
    }

    .table-full-width__point {
      width: 6px;
      height: 6px;
      border-radius: 60px;
      margin-left: 8px;

      &.table-ful-width__point_green {
        background-color: #259d1f;
      }

      &.table-ful-width__point_red {
        background-color: #b83131;
      }
    }
  }
}

.sales-statistics-table-wrapper {
  overflow-x: auto;
  margin-top: 16px;

  .sales-statistics-table__table {
    table-layout: fixed;
  }

  .sales-statistics-table__head_item {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: $secondary-text-rgba;
    padding-bottom: 8.4px;
    
    button {
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
      font-weight: bold;
      text-align: left;
      padding: 3px 8px;
      white-space: nowrap;
    }

    .table-full-width__head_icon_flex_container {
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
      align-items: center;
    }

    &:first-child {
      font-size: 14px;
      text-align: center;
    }

    &.center {
      text-align: center;
    }

    .table-full-width__head_icon {
      margin-left: 4px;
      color: $secondary-text-rgba;
      width: 10px;
      height: 15px;
    }
  }
    
  .sales-statistics-table__body_cell {
    border-bottom: solid 1px rgba(34, 37, 41, 0.2);
    padding: 8px 8px;
    font-size: 14px;
    color: $secondary-text-rgba;
  }

  .sales-statistics-table__body_row {
    &:last-child {
      .sales-statistics-table__body_cell {
        border-bottom: none;
        padding: 20px 8px;
      }
    }
  }
}
